{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste{% endblock %}

{% block body %}
<section class="container">
    <div class="new-cat-wrapper">
        {% if is_granted('ROLE_ADMIN') %}
            <h3>Si vous voulez créer une nouvelle catégorie -> </h3>
            <a class="btn btn-primary btn" href="{{ path('new_cat') }}" role="button">Nouvelle Catégorie</a>
        {% endif %}
    </div>
    <div class="new-wrapper">
    <h3>Si vous voulez participer à la grande farandole de la vie -> </h3>
        {% if is_granted('ROLE_EDITOR') %}
    <a class="btn btn-primary btn" href="{{ path('new_post') }}" role="button">Nouveau post</a>
        {% else %}
        <a class="btn btn-primary btn" href="{{ path('app_register') }}" role="button">S'inscrire</a>
        {%  endif %}
    </div>

    {% for cat in cats %}
        {% if searchCatName is defined %}
            {% if cat.name== searchCatName %}
                <a class="btn btn-outline-info mb-2" href="{{ path('postBy_cat', {name:cat.name}) }}" role="button">{{ cat.name}}</a>
            {% else %}
                <a class="btn btn-info mb-2" href="{{ path('postBy_cat', {name:cat.name}) }}" role="button">{{ cat.name}}</a>
            {% endif %}
        {% else%}
            <a class="btn btn-info mb-2" href="{{ path('postBy_cat', {name:cat.name}) }}" role="button">{{ cat.name}}</a>
        {% endif %}
    {% endfor %}

    <form action="/search">
        <div class="input-group">
            <input type="search" list="searchList" id="input" name="search" class="form-control rounded" placeholder="Rechercher un thème, un mot-clé, un article..." aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" id="search" class="btn btn-info">search</button>
            <datalist id="searchList"></datalist>
        </div>
    </form>
    {% if posts %}
        <div id="results">

            {% include ('/post/listApi.html.twig') %}

        </div>
        <div class="cta">
            <button id="button" class="cta-button btn btn-info col-4">Charger plus d'articles ?</button>
        </div>

    {% else %}
        <p>Aucun résultat, désolé 😥</p>
    {% endif %}
</section>
{% endblock %}
